/* styles go here */
.formField {
  padding: 0 0 10px;
}

/* form {
  margin: ;
} */

.box {
  margin: 1px 0 20px;
}

/* .registration {
  margin-top: 20px;
}

.facts {
  margin-top: 20px;
}

.addInfo {
  margin: 1 20px;
} */
